/* INICIO BASE NOVA NÃO ALTERAR */
.content {
  float: left;
  width: 92%;
  margin: 0 4%;
  padding: 20px 0;
}

/*HEADER*/
.main_header {
  background: #ffffff;
  border-bottom: 1px #f4f4f4 solid;
  z-index: 1;
  padding: 0em 0em;
}

.main_header .content {
  float: left;
  padding: 0px 0;
}

.fixed {
  display: block;
  position: fixed;
  z-index: 9;
}

.main_header_logo {
  text-align: center;
  margin: auto;
  float: none;
  width: 390px;
  padding: 20px 0;
}

.main_header_logo img {
  height: 69px;
}

/*Seu Código*/
.section-seu-codigo {
  padding: 10px 0px;
  background-color: #f4f4f4;
}

.section-seu-codigo .content {
  float: left;
  padding: 1em 0;
}

.section_title {
  width: 100%;
  float: left;
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px #eceaea solid;
  padding-bottom: 1em;
}

.box-artigo {
  width: 100%;
  float: left;
  background: #fff;
  text-align: center;
  box-shadow: 1px 0px 1.2px 0px #e3e3e3;
  border-radius: 3px;
  padding: 1em;
}

/* Menu nav */

nav.bg {
  width: 100%;
  float: left;
  text-align: center;
  background: rgb(246, 246, 240);
  background: linear-gradient(90deg, rgba(76, 77, 80) 0%, rgba(123, 92, 86) 0%, rgb(170, 107, 93), rgb(217, 122, 100) 100%);
}

nav a {

  position: relative;
  display: inline-block;
  margin: 16px 20px;
  outline: none;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;

}

nav a:hover,
nav a:focus {

  outline: none;
  color: #000;

}

/* Menu */
.menu-nav-slide a {
  overflow: hidden;
  padding: 0 8px;
  height: 1.3em;
}

.menu-nav-slide a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.menu-nav-slide a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu-nav-slide a:hover span,
.menu-nav-slide a:focus span {

  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

/*Menu Nav*/

/*FOOTER*/
.main_footer {
  background-color: #353535;
  color: #fff;
  font-size: 0.875em;
}

.main_footer .content {
  padding: 3em 0em;
}

.main_footer_copy {
  background-color: #262626;
  width: 100%;
  float: left;
  text-align: center;
  padding: 1.5em 0em;
}

.main_footer_copy p {
  font-family: 'open_sanslight';
  font-size: 1em;
  color: #e1e0e0;
  height: 20px;
}

.main_footer_copy .m-b-footer {
  margin-bottom: 0.5em;
}

.main_footer_copy .by {
  font-size: 0.96em;
}

.main_footer_copy .by i {
  font-size: 0.96em;
  margin-right: 3px;
  color: #e82626;
}

/*Começa o Responsivo*/

/*480PX BREAKPOINT*/
/*480 dividido por 16 = 30em*/
@media (min-width:30em) {

  .boxBannerTopo {
      padding: 1em 0;
  }

}

/*600PX BREAKPOINT*/
/*600 dividido por 16 = 37,5em*/
@media (min-width:37em) {}

/*768PX BREAKPOINT*/
/*768 dividido por 16 = 48em*/
@media (min-width:48em) {}

/*960PX BREAKPOINT*/
/*960 dividido por 16 = 60em*/
@media (min-width:60em) {

  .section-seu-codigo {
      padding: 20px 0px;
  }

  .section-seu-codigo .content {
      width: 80%;
      padding: 1em 0;
      margin: 0 10%;
  }

}

/*1280PX BREAKPOINT*/
/*1280 dividido por 16 = 80em*/
@media (min-width:80em) {}

/*1366PX BREAKPOINT*/
/*1366 dividido por 16 = 85,375em*/
@media (min-width:85em) {

  .content {
      width: 80%;
      margin: 0 10%;
  }

}

/*1600PX BREAKPOINT*/
/*1600 dividido por 16 = 100em*/
@media (min-width:100em) {}

/*Fecha o Responsivo*/


/* new menu */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Estilo básico do banner */
.banner {
  width: 100%;
  /* A largura do banner será 100% da largura do contêiner pai */
  max-width: 100%;
  /* O banner não excederá o tamanho original da imagem */
  overflow: hidden;
}

/* Estilo da imagem dentro do banner */
.banner img {
  width: 100%;
  /* A imagem preencherá todo o espaço disponível no banner */
  height: auto;
  /* A altura será ajustada automaticamente de acordo com a largura */
  display: block;
  /* Remove o espaço extra abaixo da imagem */
}

/* Estilos para o layout de duas colunas */
.two-column-container {
  display: flex;
  /* Cria um layout flexível */
}

.column {
  flex: 1;
  /* Divide o espaço igualmente entre as colunas */
  padding: 20px;
  /* Espaçamento interno para melhor leitura */
}

/* Estilos adicionais para formatação */
h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 1.4;
}

/* FIM BASE NOVA NÃO ALTERAR */


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 70%;
}

body {
  color: #0a0a0a;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #d97a64;
  font-size: 1.5rem;
  font-style: oblique;
  margin-bottom: 3rem;
  max-width: 500px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
